/*need two google fonts, one for headers and one for paragraph css validator three different styles --an italic or bold*/
body{
  text-align:center;
}

h1, h4{
  font-family:"Raleway", Helvetica, Arial, sans-serif;
}

p, ul{
  font-family:"Roboto Slab", Georgia, "Times New Roman", serif;
  color:blue;
  font-weight:bold;
  text-align:center;
}


ul{
  list-style-type:none;
}

img{
  border-style:none;
}
