/*need two google fonts, one for headers and one for paragraph css validator three different styles --an italic or bold*/
body{
  text-align:center;
}

h1, h4{
  font-family:"Libre Baskerville", Georgia, "Times New Roman", serif;
  color:#0FB2A8
}

p, ul{
  font-family:"Nunito", Helvetica, Arial, sans-serif;
  color:#FFA162;
  font-weight:bold;
  text-align:center;
}


ul{
  list-style-type:none;
}

img{
  border-style:none;
}

body{
  background-color:#B25C21;
}
