body{
  text-align:center;
}

h1, h4{
  font-family:"Libre Baskerville", Georgia, "Times New Roman", serif;
  color:#0FB2A8
}


p, ul{
  font-family:"Nunito", Helvetica, Arial, sans-serif;
  color:#FFA162;
  text-align:center;
}
p{
  font-style:italic;
  font-weight:800;
}

ul{
  list-style-type:none;
}

img{
  border-style:none;
}

body{
  background-color:#B25C21;
}
